
@{
    Layout = null;
}



<!doctype html>
<html lang="zxx">

@await Html.PartialAsync("/Views/LayoutPartial/HeaderPartial.cshtml")
@await Html.PartialAsync("/Views/LayoutPartial/NavbarPartial.cshtml")

<body>
    @RenderBody()
    @await Html.PartialAsync("/Views/LayoutPartial/FooterPartial.cshtml")
    @await Html.PartialAsync("/Views/LayoutPartial/ScriptsPartial.cshtml")
    

    
    
</body>

</html>
 